satellite_comparison/.DS_Store
*.DS_Store
*.nc
*.png
*.pdf
PDSI/*.png
PDSI/*.nc
hydraulics_drought_modifiers/*.pdf
P_minus_PET/*.nc
single_site_cable_hydraulics/outputs/*
single_site_cable_hydraulics/logs/*
single_site_cable_hydraulics/namelists/*
single_site_cable_hydraulics/restart_files/*
single_site_cable_hydraulics/cable
single_site_cable_hydraulics/__pycache__/*
single_site_cable_hydraulics/*.nc
PPT_percentiles/*.nc
VOD/*.nc
NDVI/*.nc
NDVI_AVHRR/*.tif
NDVI_AVHRR/*.bin
VOD_LPDR/*.parquet
*.bin
CABLE_outputs/Current/*.nc
CABLE_outputs/Millennium/*.nc
other_western_sites_cable_hydraulics/outputs/*
other_western_sites_cable_hydraulics/logs/*
other_western_sites_cable_hydraulics/namelists/*
other_western_sites_cable_hydraulics/restart_files/*
other_western_sites_cable_hydraulics/cable
other_western_sites_cable_hydraulics/__pycache__/*
other_western_sites_cable_hydraulics/*.nc
